::selection{
  color: black;
  background: #edaa00;
}
*{
  font-family: '微软雅黑', 'Microsoft Yahei', 'Heiti', Sans-Serif;
  font-size: 14px;
}
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#loading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#spinners {
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  font-size: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #1F8CEB;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg)
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg)
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg)
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg)
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg)
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg)
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg)
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg)
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg)
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s
}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
#app {
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}
#conversational-form {
  background: url(../img/bg.png);
}
#conversational-form > .conversational-form-inner {
  padding: 0;
}
.conversational-form cf-chat {
  /*padding-bottom: 56px;*/
  margin: 0;
}
.conversational-form cf-chat-response {
  padding-top: 0px;
  min-width: 200px;
}
.conversational-form cf-chat-response.robot {
  padding-left: 84px;
}
.conversational-form cf-chat-response.robot text {
  background: #f4f7f9;
  color: #263238;
  border-radius: 6px;
}
.conversational-form cf-chat-response.user {
  padding-right: 84px;
}
.conversational-form cf-chat-response.user text {
  background: #1F8CEB;
  color: #fff;
  border-radius: 6px;
}
.conversational-form cf-chat-response thumb {
  height: 42px;
  width: 42px;
}
.conversational-form cf-chat-response.robot thumb {
  margin-left: 20px;
}
.conversational-form cf-chat-response.user thumb {
  margin-right: 20px;
}
.conversational-form cf-chat-response .file-icon img {
  max-height: 300px;
  max-width: 300px;
}
.conversational-form cf-input {
  bottom: 0;
  right: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.conversational-form cf-input-control-elements {
  padding: 0 20px;
}
.conversational-form cf-input input,
.conversational-form cf-input textarea {
  height: 56px;
  padding: 20px;
  font-size: 14px;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 100px 0 rgba(150,165,190,.24);
  transition: background-color .2s ease,box-shadow .2s ease;
}
.conversational-form cf-input input:not(:focus),
.conversational-form cf-input textarea:not(:focus) {
  background-color: #f8f8f8;
  box-shadow: 0 0 50px 0 rgba(150,165,190,.33);
}
.conversational-form cf-input-button.cf-input-button {
  bottom: 14px;
  right: 14px;
  margin-right: 0;
  transition: .5s ease;
}
.conversational-form cf-input[tag-type='file'] cf-input-button {
  right: 50%;
  margin-right: -14px;
}
.conversational-form cf-input[tag-type='file'] textarea::-webkit-input-placeholder, .conversational-form cf-input[tag-type='select'] textarea::-webkit-input-placeholder {
  visibility: hidden;
}
@media screen and (max-width: 640px) {
  .conversational-form cf-chat-response text:not(.contains-image) {
    padding: 12px;
  }
  .conversational-form cf-chat-response {
    padding-bottom: 20px;
  }
  .conversational-form cf-chat-response thumb {
    height: 24px;
    width: 24px;
  }
  .conversational-form cf-chat-response.robot thumb {
  margin-left: 5px;
  }
  .conversational-form cf-chat-response.user thumb {
    margin-right: 5px;
  }
    .conversational-form cf-chat-response.robot {
  padding-left: 34px;
  }
  .conversational-form cf-chat-response.user {
    padding-right: 34px;
  }
  .conversational-form cf-chat-response .file-icon img {
    max-height: 150px;
    max-width: 150px;
  }
}